# バージョン1.2
# 修正内容: 'indivisualQuartoContent'を'IndividualQuartoContent'に修正し、
# その他の細かな調整を行いました。

Files:
  top_page_filename: index.qmd

QuartoContent:
  top_page_yaml: |
    ---
    title: 魔狸アンテナ
    format:
      html:
        toc: true
        toc-expand: true
        embed-resources: true
        lang: ja
        include-in-header: 
          - text: |
              <script src="Last-Modified.js"></script>
    ---
  top_page_header: |
    <div id="last-modified"></div>
    # 最新の更新情報

IndividualQuartoContent:
  individual_page_yaml: |
    ---
    title: "{owner}, {title} の更新情報"
    format:
      html:
        toc: true
        toc-expand: true
        embed-resources: true
        lang: ja
        include-in-header: 
          - text: |
              <script src="Last-Modified.js"></script>
    ---

Message:
  format: "{time}、{owner} の {title} {url} が更新されたようです。#魔狸アンテナ https://tanukima.github.io/glc/"
