Files:
  top_page_filename: glc.qmd

QuartoContent:
  top_page_yaml: |
    ---
    title: 魔狸アンテナ
    format:
      html:
        toc: true
        toc-expand: true
        embed-resources: false
        lang: ja
    ---
  top_page_header: "# 最新の更新情報"

indivisualQuartoContent:
  individual_page_yaml: |
    ---
    title: {owner}, {title} の更新情報
    format:
      html:
        toc: true
        toc-expand: true
        embed-resources: false
        lang: ja
    ---

Message:
  format: "{time}、{owner} の {title} {url} が更新されたようです。#魔狸アンテナ"
