# msg.config

Files:
  top_page_filename: index.qmd

QuartoContent:
  top_page_yaml: |
    ---
    title: 魔狸アンテナ
    format:
      html:
        toc: true
        toc-expand: true
        embed-resources: true
        lang: ja
        include-in-header: 
          - text: |
              <script src="Last-Modified.js"></script>
              <meta http-equiv="refresh" content="1800">
    ---
  top_page_header: |
    <div id="last-modified"></div>
    # 最新の更新情報

IndividualQuartoContent:
  individual_page_yaml: |
    ---
    title: "{owner}, {title} の更新情報"
    format:
      html:
        toc: true
        toc-expand: true
        embed-resources: true
        lang: ja
        include-in-header: 
          - text: |
              <script src="Last-Modified.js"></script>
              <meta http-equiv="refresh" content="1800">
    ---
  individual_page_header: |
    <div id="last-modified"></div>

Message:
  format: "{time}、{owner} の {title} {url} が更新されたようです。#魔狸アンテナ https://tanukima.github.io/glc/"
  format: "{owner} の {title} {url} が更新されたようです。#魔狸アンテナ https://tanukima.github.io/glc/"
